@page "/user/profile"

@using BlazorTest.Models
@using BlazorTest.Data
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;

@inject IDataAccess _db
@inject NavigationManager NavManager
@inject ProtectedSessionStorage storage

<head>
    <style>
        .custab {
            border: 1px solid #ccc;
            padding: 5px;
            margin: 5% 0;
            box-shadow: 3px 3px 2px #ccc;
            transition: 0.5s;
        }

            .custab:hover {
                box-shadow: 3px 3px 0px transparent;
                transition: 0.5s;
            }
    </style>
</head>
@if (firstName != null && lastName != null)
{

<h3>Hello @firstName @lastName !</h3> }
else
{

<h3>Hello @userName !</h3>}

<div class="container">
    <div class="row col-lg-6 col-md-offset-4 custyle">
        <table class="table table-striped custab">
            <thead>
                <tr>
                    <th>Felhasználónév</th>
                    <th>E-mail cím</th>
                    <th>Keresztnév</th>
                    <th>Vezetéknév</th>
                    <th>Súly</th>
                    <th>Magasság</th>
                    <th>Kor</th>
                    <th></th>
                </tr>
            </thead>
            <tr>
                <td>@userName</td>
                <td>@email</td>
                <td>
                    @if (firstName is null)
                    {
        <span style="color: #ff0000"><i class="oi oi-warning"></i> Még nincs megadva!</span>}
    else
    { @firstName}
                </td>
                <td>

                    @if (lastName is null)
                    {
        <span style="color: #ff0000"><i class="oi oi-warning"></i> Még nincs megadva!</span>}
    else
    { @lastName}
                </td>
                <td>
                    @if (weight is null)
                    {
        <span style="color: #ff0000"><i class="oi oi-warning"></i> Még nincs megadva!</span>}
    else
    { @weight}
                </td>
                <td>
                    @if (height is null)
                    {
        <span style="color: #ff0000"><i class="oi oi-warning"></i> Még nincs megadva!</span>}
    else
    { @height}
                </td>
                <td>
                    @if (age is null)
                    {
        <span style="color: #ff0000"><i class="oi oi-warning"></i> Még nincs megadva!</span>}
    else
    { @age}
                </td>
                @if (firstName is null && lastName is null && weight is null && height is null && age is null)
                {
    <td><a href="/user/detailsupload" class="btn btn-primary">Hiányzó adatok hozzáadása</a></td>
}
            </tr>
        </table>
    </div>
</div>

@code { private User userProfile = new User();
    private List<User> users;
    private List<UserDetail> userDetails;
    private string userName;
    private string email;

#nullable enable
    private string? firstName;
    private string? lastName;
    private int? weight;
    private int? height;
    private int? age;
    protected override async Task OnInitializedAsync()
    {

        var userid = await storage.GetAsync<int>("userid");
        var name = await storage.GetAsync<string>("username");

        users = await _db.GetUsers();
        userDetails = await _db.GetUserDetails(userid.Value);
        if (users != null)
        {
            foreach (var user in users)
            {
                if (user.Id == userid.Value)
                {
                    userName = user.UserName;
                    email = user.Email;
                }
            }
            if (userDetails != null)
            {
                foreach (var detail in userDetails)
                {

                    firstName = detail.FirstName;
                    lastName = detail.LastName;
                    weight = detail.Weight;
                    height = detail.Height;
                    age = detail.Age;

                }
            }
        }
    } }
