@inherits LayoutComponentBase

@using BlazorTest.Models
@using BlazorTest.Data
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;

@inject IDataAccess _db
@inject NavigationManager NavManager
@inject ProtectedSessionStorage storage
<div class="page">
    <div class="sidebar" style="background-image: none; background-color: rgba(0, 0, 0, 0.1)">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row " style="background-color: rgba(0, 0, 0, 0.1)">
            @if (loggedIn)
            {<button class="btn btn-light" @onclick="LogOut">Kijelentkezés <i class="oi oi-account-logout"></i></button>}
        </div>

        <div class="content ">
            @Body
        </div>
    </div>
</div>
@code{ private bool loggedIn = false;

    private async void LogOut()
    {
        await storage.DeleteAsync("userid");
        await storage.DeleteAsync("username");

        NavManager.NavigateTo("/user/login");
    }
    protected override async Task OnAfterRenderAsync(bool render)
    {

        var id = await storage.GetAsync<int>("userid");


        if (id.Success)
        {
            loggedIn = true;
        }
        else { loggedIn = false; }
        StateHasChanged();

    } }
